bottle
click
concurrent-log-handler
Django
django-celery-results
django-cors-headers
django-environ
django-mssql-backend
django-redis
fastapi
Flask
Flask-GraphQL
Flask-Migrate
Flask-SQLAlchemy
graphene
graphene-django
graphene-sqlalchemy
gunicorn
matplotlib
numpy
opencv-python
pandas
Pillow
psycopg2
pyodbc
python-dateutil
python-dotenv
python-editor
PyYAML
qrcode
redis
requests
scipy
seaborn
SQLAlchemy
uvicorn
virtualenv
xlrd
celery
django-cleanup
